{% extends "network/layout.html" %}
{% load static %}
{% block script %}
    <script src="{% static 'network/posts.js' %}" type="module"></script>
{% endblock %}
{% block body %}
    {{ following |json_script:"following" }}

    <div id="posts-view" class="container-fluid">
        <div id="newpost-view" class="container-fluid mb-3 post">
            <form id="newpost-form" class="row form-inline" method="post">
                {% csrf_token %}
                <textarea id="newpost-body" rows="3" maxlength="200" name="newpost-body" class="col form-control" placeholder="Write a new post...">
                    
                </textarea>
                <input id="newpost-submit" type="submit" class="btn btn-light ml-3" value="➤"/>
            </form>
        </div>
        <h1 id="posts-title" class="title"></h1>
        <div id="posts-list" class="container-fluid">
        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-lg justify-content-center">
            </ul>
        </nav>

    </div>
{% endblock %}
